@model ConfigurationWebShopDemo.Models.SignUp
@{
    ViewData["Title"] = "Create";
}
<!--
<div align="center">
    <form action="action_page.php" method="post">
        <div class="container">
            <div align="left">
                <b><label type="text" style="font-size: 40px; text-align:">Sign Up</label></b>
            </div>
            <input type="text" placeholder="Username" name="uname" required>

            <input type="text" placeholder="Email" name="email" required>

            <input type="password" placeholder="Password" name="psw" required>

            <button type="submit" value="Create" style="background-color:cyan; font-size:20px">Sign Up</button>
        </div>

        <div class="container">
            <p align="left">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw"><a href="https://localhost:44348/Home" style="font-size: 20px">Login</a></span>
            </p>
        </div>
    </form>
</div>
-->

<h> Signing Up Completed! </h>
    

