@model ConfigurationWebShopDemo.Models.SignUp
@{
    ViewData["Title"] = "Forgot Password";
}

<div align="center">
    <form method="post">
        <div class="container">
            <div align="center">
                <b>
                    <label type="text" style="font-size: 40px; text-align: center">
                        Login
                    </label>
                </b>
            </div>
            <input asp-for="Email" class="form-control" placeholder="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>

            <button type="submit" asp-controller="Home" asp-route-id="@Model.Email" asp-action="ChangePassword" style="background-color:cyan; font-size:25px">Request new password</button>
        </div>
    </form>
</div>