@model IEnumerable<ConfigurationWebShopDemo.Models.Configurations>
@{
    ViewData["Title"] = "ConfigurationsView";
}

<div class="container p-3">
    @if( Model.Count() >0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Configuration ID
                            </th>
                            <th>
                                Motherboard Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var obj in Model)
                {
                        <tr>
                            <td width="50%">@obj.Configuration_Id</td>
                            <td width="30%">@obj.Mother_Board</td>
                            <td></td>
                        </tr>
                }
                    </tbody>
                </table>
            }
            else
            {
                <p>Изчерпани са количествата</p>
            }
</div>

