@model IEnumerable<ConfigurationWebShopDemo.Models.GPUs>

@{
    ViewData["Title"] = "GpuTable";
}

<div class="container p-3">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead style="color: white; text-align:center">
                <tr>
                    <th>
                        Model GPU
                    </th>
                    <th>
                        GPU Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%" style="color: white">@obj.gpu_model</td>
                        <td width="50%" style="color: white">@obj.gpu_price лв.</td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p style="color: white">Изчерпани са количествата</p>
    }
</div>
