@model ConfigurationWebShopDemo.Models.SignUp
@{
    ViewData["Title"] = "Create";
}

<div align="center">
    <h1 style="text-align:center; color:white">Добре дошли в Наденички!!!</h1>
    <h2 style="text-align:center; color:white">Моля изберете категория на продукт.</h2>
    <form action="action_page.php" method="post" style="width: 1200px; left: 35%; top: 58%" ;>
        <div class="container">
            <div class="row">
                <fieldset>
                    <img src="https://image.made-in-china.com/2f0j00PozYUgeygkbl/The-Latest-Hot-Newest-Design-CPU-Cover-Gaming-Computer-Cases-Chassis-with-RGB-Strip-From-Aigo-Darkflash.jpg" alt="China The Latest Hot Newest Design CPU Cover Gaming Computer Cases Chassis  with RGB Strip From Aigo Darkflash - China PC Case and Computer Case price"  width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="ConfigurationTable" style="font-size: 24px">Configurations</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://www.pcgamesn.com/wp-content/uploads/2017/09/cpu-upgrade-1200x675.jpg" alt="CPU upgrade – how to install your new processor | PCGamesN" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="CpuTable" style="font-size: 24px">CPUs</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://www.hellotech.com/blog/wp-content/uploads/2020/02/what-is-a-gpu.jpg" alt="What&#39;s a GPU? Everything You Need to Know - The Plug - HelloTech" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="GpuTable" style="font-size: 24px">GPUs</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://www.computertechreviews.com/wp-content/uploads/2019/02/how-to-install-a-hard-disk-in-our-computer-desktop-pc-step-by-step-guide.png" alt="How to Install a Hard Disk in Computer Desktop PC - Step By Step Guide" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="HddTable" style="font-size: 24px">HDDs</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Computer-motherboard.jpg" alt="Motherboard - Wikipedia" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="MotherboardTable" style="font-size: 24px">Motherboards</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://m.media-amazon.com/images/I/71EyddkUnwL._AC_SL1500_.jpg" alt="Periphio RAM 8GB DDR3 Desktop Computer Memory 1300MHz 1.5V at Amazon.com" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="RamTable" style="font-size: 24px">RAMs</button></h2>
                </fieldset>
                <fieldset>
                    <img src="https://5.imimg.com/data5/FP/TX/GD/SELLER-81482138/512gb-ssd-hard-disk-500x500.jpg" alt="SATA 512GB SSD Hard Disk, Packaging Type: Box, Storage Capacity: 512 GB, |  ID: 21494316462" width="130" height="130"/>
                    <h2 class="text-info pl-3"><button asp-controller="CategoryProduct" asp-action="SsdTable" style="font-size: 24px">SSDs</button></h2>
                </fieldset>
            </div>
        </div>
    </form>
</div>

