@model IEnumerable<ConfigurationWebShopDemo.Models.RAMs>
@{
    ViewData["Title"] = "RamTable";
}

<h1 style="color:white">RAM View</h1>
<h2 style="color:white">Import Database from RAM Table</h2>

<div class="container p-3">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead style="color: white; text-align:center">
                <tr>
                    <th>
                        Model RAM
                    </th>
                    <th>
                        RAM Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="50%" style="color: white">@obj.ram_capacity</td>
                        <td width="50%" style="color: white">@obj.ram_price</td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Изчерпани са количествата</p>
    }
</div>


